{# products.jnk #}
{# Lists all products #}
<div class="block">

	<h2>Producten met bevindingen op het gebied van toegankelijkheid</h2>

	<div>

	    <ul class="list list--scs">
	    {% for product in collections.product %}
	      {% set discs = 0 %}
	      {%- for findings in collections[ product.data.number ] -%}
	        {% set discs = discs + 1 %}
	      {% endfor %}
				{%- if discs > 0 -%}
	        <li><a href="{{ product.url | url }}">{{ product.data.title }}</a>, bevindingen: {{ discs }}.</li>
				{%- endif -%}
	    {% endfor %}
	    </ul>

	</div>

</div>
