---
title: Producten met bevindingen op het gebied van toegankelijkheid Nederland en Vlaanderen
layout: base.njk
---
{# index.jnk, uses _includes/base.njk as main template #}

<div class="block">

	<h1>{{ title }}</h1>

	<p>Deze website bevat bevindingen van producten op het gebied van toegankelijkheid.</p>

</div>

{# Create a list of links to the discussions, per success criteria #}
{% include "products.njk" %}
