---
title: Producten met bevindingen op het gebied van toegankelijkheid Nederland en Vlaanderen
layout: base.njk
---
{# index.jnk, uses _includes/base.njk as main template #}

<div class="block">

	<h1>{{ title }}</h1>

	    <p>Op deze website verzamelen we toegankelijkheidsproblemen die vaker voorkomen en bekend zijn bij producten en webdiensten.</p>
        <p>Het doel van deze website is om niet meerdere keren in Nederland hetzelfde onderzoek uit te voeren, hiermee kunnen we tijd en kosten besparen. Die tijd kunnen we besteden aan het nog toegankelijker maken van Nederland.</p>

</div>

{# Create a list of links to the discussions, per success criteria #}
{% include "products.njk" %}
